html, body {
    background-color: #E5F0F8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75px;
    font-style: italic;
    background: linear-gradient(90deg, #003D86, #0096DA);
    width: 100%;
    border-bottom: 5px solid #FFCD00; 
}

.text-regular {
    color: #003D86;
    padding: 20px 0px;
}

.anbw-button-warning, .anbw-button-warning:hover {
    background-image: linear-gradient(to right, #F28200, #EFAB16);
    color: white;
}

.anbw-button-warning:disabled {
    background-image: linear-gradient(to right, #F28200, #EFAB16);
    color: white;
}

.br-10 {
    border-radius: 10px;
}

.text-help {
    font-style: italic;
    font-weight: bold;
    color: #003D86;
    margin: 20px 0px;
    font-size: 10px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
}

.tip-title {
    text-align: center;
    font-size: 20px;
    color: #003D86;
    font-style: italic;
    font-weight: bold;
}

.tip-text {
    color: #003D86;
}

.container {
    max-width: 350px;
}

.question-title {
    color: #003D86;
    font-size: 20px;
}

.question-name {
    color: #003D86;
    font-weight: bold;
    font-size: 20px;
}

.fact-text {
    color: #003D86;
    font-style: italic;
    font-weight: bold;
}

.question-list {
    padding-left: 0px;
    list-style-type: none;
}

.question-card {
    margin-top: 15px;
    color: #003D86;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 52px;
    background-color: white;
    display: flex;
    align-items: center;
}

.selected-question {
    box-shadow: 0 0 0 1.5px #EFAB16;
}

.circle {
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #FFCD00;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.correct-circle {
    background-color:  #60B23F;
}

.wrong-circle {
    background-color: #EE4411;
}

.correct-answer {
    box-shadow: 0 0 0 1.5px #60B23F;
}

.wrong-answer {
    box-shadow: 0 0 0 1.5px #EE4411;
}

.large-text-card {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    color: #003D86;
    padding: 20px 25px;
}